.container {
  margin: 0 var(--viewport-padding-inline);
  padding-top: 1.5rem;

  h2 {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-family: var(--font-headline);
    font-size: 1.6rem;
  }
}

.resultsList {
  & > li {
    margin-bottom: 1rem;
  }
}

.resultsTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1px;
  position: relative;
  margin-bottom: 2rem;

  & thead {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  & thead th {
    text-align: left;
    padding: 0.6rem 1rem;
    background: var(--surface-bg);
    font-weight: normal;
    color: var(--text-color-secondary);
    border-bottom: 1px solid var(--surface-border);
    font-size: 0.8rem;
    vertical-align: bottom;

    &:first-child {
      border-top-left-radius: var(--item-rounding);
    }

    &:last-child {
      border-top-right-radius: var(--item-rounding);
    }

    &.selected {
      background: var(--highlight-bg);
    }

    & a {
      font-weight: 600;
      text-decoration: none;

      @media (hover: hover) {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  & tbody tr {
    background: var(--surface-bg);

    @media (hover: hover) {
      &:hover {
        background: var(--surface-raised-bg);
      }
    }
  }

  & td {
    padding: 0.55rem 1rem;
    font-variant-numeric: tabular-nums;
  }
}

.downloadButton {
  margin-bottom: 2rem;
}
