.dragHandle {
  cursor: grab;
  padding: 0 0.6rem;
  border-radius: 3px;
  font-size: 12px;
  user-select: none;
  touch-action: none;
  align-self: stretch;
  display: grid;
  align-items: center;

  svg {
    fill: #0000002e;
    width: 0.7rem;
  }
}

.dragHandle:active {
  cursor: grabbing;
}

.itemName {
  flex: 1;
  padding: var(--padding) 0;
}

.upButton,
.downButton,
.addButton {
  padding: 0.5em 0.9em;
}

.upButton {
  background-color: #007bff;
  color: white;
}

.downButton {
  background-color: #007bff;
  color: white;
}

.removeButton {
  background-color: #6c757d;
  color: white;
}

.addButton {
  padding: 5px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

.buttons {
  display: grid;
  grid-auto-flow: column;
  gap: var(--padding);
  padding: var(--padding) 0;
}
