.dragHandle {
  cursor: grab;
  padding: 0 0.9rem;
  font-size: 12px;
  user-select: none;
  touch-action: none;
  align-self: stretch;
  display: grid;
  align-items: center;
  background-color: #d3f1fd;

  svg {
    fill: #009fff73;
    width: 0.8rem;
  }
}

.dragHandle:active {
  cursor: grabbing;
}

.itemName {
  flex: 1;
  padding: var(--padding) 0;
  overflow-wrap: anywhere;
}

.upButton,
.downButton,
.addButton {
  padding: 0.4em 0.7em;
  background-color: #007bff;

  svg {
    display: block;
    width: 1.1rem;
    fill: white;
  }
}

.upButton {
  color: white;
}

.downButton {
  rotate: 180deg;
}

.addButton {
  background-color: #28a745;
}

.buttons {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  gap: 0.4em;
  padding: var(--padding) 0;
}
