.siteHeader {
  display: grid;
  grid-template-columns: 1fr auto;
  background: #fff;
  align-items: center;
  padding-right: var(--viewport-padding-inline);

  h1 {
    padding: var(--viewport-padding);
    margin: 0;
    font-size: 24px;
  }
}

.siteFooter {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 2em;
  background: #fff;
  padding: var(--viewport-padding);
  align-items: center;

  & p {
    margin: 0;
  }
}

.githubLink {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.4em;
  align-items: center;

  & svg {
    display: block;
    width: 1.1em;
  }
}
