html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  background: #f1f1f1;

  --link-color: #0066cc;
  --viewport-padding-inline: 1.5rem;
  --viewport-padding-block: 1.3rem;
  --viewport-padding: var(--viewport-padding-block)
    var(--viewport-padding-inline);
  --container-rounding: 0.5rem;
}

body {
  margin: 0;
}

:global(#app) {
  min-height: 100dvh;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

a {
  color: var(--link-color);
  text-decoration: underline;
  text-decoration-thickness: 0.08em;
  text-underline-offset: 0.15em;
}

a:not(.button):hover {
  color: #004499;
}

a:focus-visible {
  outline: 2px solid #0066cc;
  outline-offset: 2px;
  border-radius: 2px;
}

.button {
  padding: 0.9em 1.3em;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.8rem;
}

.userInfo {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 15px;
  font-size: 14px;
}

.logoutButton {
  background-color: #dc3545;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 12px;
  padding: 0.6em 1.1em;

  &:hover {
    background-color: #c82333;
  }
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.mainLoginButton {
  margin: 3rem auto;
  width: fit-content;
}

.loadingMessage {
  text-align: center;
}
