.githubButton {
  background-color: #333;
  color: white;
  text-decoration: none;
  padding: 0.9em 1.6em;
  padding-left: 1.3em;
  border-radius: 6px;
  font-weight: 500;
  width: fit-content;

  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1em;

  &.small {
    padding: 0.6em 1.1em;
    padding-left: 0.9em;
    gap: 0.8em;
  }
}

.githubButton:hover {
  background-color: #555;
}

.icon {
  aspect-ratio: 1 / 1;
  width: 1.3rem;

  .small & {
    width: 1rem;
  }

  & svg {
    display: block;
    fill: #fff;
  }
}
