.githubButton {
  background-color: light-dark(#1f2328, #f0f2f5);
  color: light-dark(#fff, #1f2328);
  text-decoration: none;
  padding: 0.9em 1.6em;
  padding-left: 1.3em;
  font-size: 0.95rem;
  width: fit-content;
  box-shadow: var(--surface-shadow);

  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0.8em;

  &.small {
    padding: 0.55em 1em;
    padding-left: 0.85em;
    font-size: 0.8rem;
    gap: 0.6em;
  }
}

.githubButton:hover {
  background-color: light-dark(#3a4048, #fff);
}

.icon {
  aspect-ratio: 1 / 1;
  width: 1.3rem;

  .small & {
    width: 1rem;
  }

  & svg {
    display: block;
    fill: currentColor;
  }
}
