.container {
  padding: var(--viewport-padding);
  max-width: 600px;
  margin: 0 auto;

  h2 {
    margin-top: 1rem;
    font-family: var(--font-headline);
    font-size: 1.6rem;
  }
}

.actions {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 1rem;

  & > li {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    align-items: center;
    background: var(--surface-bg);
    border: 1px solid var(--surface-border);
    box-shadow: var(--surface-shadow);
    border-radius: var(--container-rounding);
    padding: 1rem;
  }

  & p {
    margin: 0;
    color: var(--text-color-secondary);
  }
}

.dangerButton {
  background-color: var(--danger-solid);
  color: white;

  @media (hover: hover) {
    &:hover {
      background-color: var(--danger-solid-hover);
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}
