.toasts {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  pointer-events: none;
  overflow: clip;
}

@property --display {
  syntax: 'none | block';
  inherits: false;
  initial-value: none;
}

.toast {
  pointer-events: auto;
  position: absolute;
  --offset: 1rem;
  bottom: var(--offset);
  right: var(--offset);
  background: light-dark(#1f2328, #33363e);
  color: #fff;
  border: 1px solid light-dark(transparent, #454952);
  border-radius: var(--item-rounding);
  box-shadow: var(--surface-shadow-raised);
  padding: 0.65rem 1rem;
  font-size: 0.9rem;
  line-height: 1.4;
  translate: 0 calc(var(--offset) + 100%);
  transition: translate 150ms ease-in;
  max-width: min(27em, calc(100dvw - 2 * var(--offset)));
  box-sizing: border-box;

  &.show {
    translate: 0 0;
    transition: translate 150ms ease-out;

    @starting-style {
      translate: 0 calc(var(--offset) + 100%);
    }
  }
}
